{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<h1>Contact seller</h1>
<div class="hero-unit">
    <div class="row">
        <div class="span5">
            <form id="adsubmitform" method="POST" enctype="multipart/form-data" action="">

                {{ render_field(form.csrf_token) }}

                {{ render_field(form.target, value=owner) }}
                {{ render_field(form.about, value='Regarding "'+ title + '"') }}
                {{ render_field(form.message) }}

                <div class="actions">
                    <input id="adsubmit" type="submit" value="Send Message" class="btn btn-primary" />
                    {#<br /><br /><br /><br /><br /><br /><input id="m" type="text" name="m" />#}
                </div>
            </form>
        </div>
        <div class="span5">
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js_bottom %}
{{super()}}
<script type="text/javascript" src="/static/uniboard/js/adsubmit.js"></script>
{% endblock extra_js_bottom %}
