{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_field_horizontal %}

<div class="row-fluid" style="padding-bottom: 10px; margin-bottom: 30px; padding-left: 30px; border-bottom: 3px dashed #aaaaaa">
    <div class="span10"><h1>Contacting the seller of "{{advert.title}}"</h1></div>
    <div class="span2"><a href="{{url_for('advert.details', ad_id=advert.id)}}" class="btn btn-primary"><i class="icon-white icon-backward"></i> Back to Advert</a></div>
</div>

<form id="adsubmitform" method="POST" enctype="multipart/form-data" action="">
<div class="row-fluid">
    <div class="span12 form-horizontal wide">
            {{ render_field(form.csrf_token) }}
            {{ render_field_horizontal(form.about, value='Regarding "'+ title + '"', style="width: 400px", readonly=readonly) }}
            {{ render_field_horizontal(form.message, style="width: 400px; height: 200px") }}
    </div>
</div>

<div class="row-fluid">
    <div class="span4">&nbsp;</div>
    <div class="span4">
        <button class="btn btn-primary" id="do_contact" type="submit" style="width: 100%; font-size: 30px; line-height: 30px">
            Send my message!
        </button>
    </div>
</div>
</form>

{% endblock %}

{% block extra_js_bottom %}

{% endblock extra_js_bottom %}
