{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<script type="text/javascript">
</script>

<h1>Advert details</h1>
<div class="hero-unit">
    <div class="row">
        <div class="span5">
            {% if owner %}
                <div class="actions">
                        <a href="{{url_for('advert.adsubmit', ad_id=ad_id)}}" class="btn btn-large">Edit</a>
                </div>
            <br>

            {% endif %}


            <p>Owner:
            {{ advert.owner }}</p>

            <p>ISBN:
            {{ advert.isbn|join(', ') }}</p>

            <p>Title:
            {{ advert.title }}</p>

            <p>Edition:
            {{ advert.edition}}</p>

            <p>Authors:
            {{ advert.authors}}</p>

            <p>Year:
            {{ advert.year}}</p>

            <p>Publisher:
            {{ advert.publisher}}</p>

            <p>Subjects:
            {{ advert.subject|join(', ')}}</p>

            <p>Condition:
            {{ advert.condition}}</p>

            <p>Location:
            {{ advert.spot}}</p>


            <p>Keywords:
            {{ advert.keywords|join(', ')}}</p>

            <p>Price:
            {{ advert.price if advert.price != None}}</p>

            {% if advert.image_id %}

                <p>Photo:</p>
                <p><img src = "/static/images/{{ advert.image_id }}"></p>

            {% endif %}

            <div class="actions">
                    <input id="abuse" type="abuse" value="Report Abuse" class="btn btn-primary" />
                    <input id="contact" type="contact" value="Contact seller" class="btn btn-primary" />
            </div>
        </div>
        <div class="span5">
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js_bottom %}
{{super()}}

{% endblock extra_js_bottom %}
