{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div style="padding-bottom: 10px; margin-bottom: 30px; padding-left: 30px; border-bottom: 3px dashed #aaaaaa">
            <h1>About UniBoard</h1>
        </div>
    </div>
</div>

<div style="padding-left: 30px">
<p>At university, you may often ask yourself… what shall I do with last year’s textbooks? Where can I buy a second hand bike to get around campus? How can I search all the adverts at my university? The answer is UniBoard.</p>

<p><a href="http://uk.linkedin.com/in/matthewbeveridge/">Matt Beveridge</a>, a student studying Business with Communications, founded UniBoard in 2013 and has since worked with Brunel University on developing the platform. UniBoard was launched at Brunel University in September 2014.</p>

<p>UniBoard is an online noticeboard that allows you to search, buy and sell stuff, at your local university. It’s an online resource that is free and it also saves you time when searching adverts at your university. UniBoard is a good place to find a local deal and it’s a great way to earn cash for your unwanted items.</p>

<p>Want to give us feedback? Tell us what you like about the site. Likewise, if you think there is a feature missing, <a href="mailto:{{config.get('FEEDBACK_EMAIL')}}">get in touch</a>.</p>
</div>
{% endblock %}
