{% extends "base.html" %}

{% block content %}

<div id="facetview"></div>

{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript">
jQuery(document).ready(function($) {

    var record_url = 'http://localhost:5011/public_query/searchable,ad/_search?';
    var record_datatype = 'JSONP';
    var record_resdisplay = []

    var record_facets = [
        {'field': 'price', 'display': 'Price'},
        {'field': 'subject', 'display': 'Subject'},
        {'field': 'condition', 'display': 'Condition'},
        {'field': 'year', 'display': 'Publication Year'},
        {'field': 'edition', 'display': 'Edition'}
    ];

    var sortby = [
        {'display':'Date added','field':'created_date'},
        {'display':'Title','field':'title.exact'},
        {'display':'Publication Year','field':'year'},
        {'display':'Edition','field':'edition.exact'},
        {'display':'Price','field':'price'}
    ]

    var searchfield = [
        {'display':'Title','field':'title'},
        {'display':'ISBN','field':'isbn'},
        {'display':'Authors','field':'authors'},
        {'display':'Publisher','field':'publisher'}
    ]

    function discoveryRecordView(index) {
        var options = $("#facetview").facetview.options
        var record = options.data['records'][index];
        var result = options.resultwrap_start;

        result += "<div class='row-fluid' style='margin-top: 10px; margin-bottom: 10px'>"

        // build the result
        result += "<div class='span2'>"
        if (record.image) {
            result += "<img src=''>"
        } else {
            result += "<img src='/static/uniboard/img/book_placeholder.png'>"
        }
        result += "</div>"

        result += "<div class='span8'>"
        result += "<div style='padding-bottom: 10px'><strong><a href='/advert/" + record.id + "' style='font-size: 200%'>" + record.title + "</a></strong></div>"
        if (record.authors) {
            result += "<em style='font-size: 150%; color: #666666'>" + record.authors + "</em><br>"
        }
        if (record.publisher) {
            result += "Publisher: " + record.publisher + "&nbsp;&nbsp;"
        }
        if (record.year) {
            result += "Publication Year: " + record.year + "&nbsp;&nbsp;"
        }
        if (record.edition) {
            result += "Edition: " + record.edition + "&nbsp;&nbsp;"
        }
        if (record.publisher || record.year || record.edition) {
            result += "<br>"
        }
        result += "</div>"

        result += "<div class='span2'>"
        if (record.price) {
            var bits = String(record.price).split(".")
            var pounds = bits[0]
            var pence = "00"
            if (bits.length > 1) {
                pence = bits[1]
                if (pence.length === 1) {
                    pence += "0"
                }
            }
            result += "<div style='padding-top: 15px'>"
            result += "<span style='font-size: 300%; font-weight: bold'>£" + pounds + ".</span>"
            result += "<span style='font-size: 200%; font-weight: bold'>" + pence + "</span>"
            result += "</div>"
        }
        result += "</div>"

        result += "</div>"
        result += options.resultwrap_end;
        return result;
    }

    function postSearch() {

    }
    
    var opts = {
        search_url: record_url,
        // datatype: record_datatype,
        facets: record_facets,
        searchbox_shade: "#fff",
        result_display: record_resdisplay,
        sharesave_link: false,
        paging: {
            size: 25
        },
        display_images: false,
        pager_on_top: true,
        post_search_callback: postSearch,
        buildrecord: discoveryRecordView,
        search_sortby: sortby,
        searchbox_fieldselect: searchfield
    };

    $('#facetview').facetview(opts);

});

</script>

{% endblock %}
