{% extends "base.html" %}

{% block content %}

<div id="facetview"></div>

{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">
    var img_path = {{ url_for('serve_user_uploads', image_name="") }}
    {% if current_user.lat and current_user.lon %}
    var user_lat = {{current_user.lat}}
    var user_lon = {{current_user.lon}}
    {% else %}
    var user_lat = false
    var user_lon = false
    {% endif %}
</script>
<script type="text/javascript" src="/static/uniboard/js/uniboard.facetview.theme.js"></script>
{% endblock %}
