{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div style="padding-bottom: 10px; margin-bottom: 30px; padding-left: 30px; border-bottom: 3px dashed #aaaaaa">
            <h1>Terms & Conditions</h1>
        </div>
    </div>
</div>

<div style="padding-left: 30px">
<p>By using UniBoard, you are agreeing to the same terms and conditions applied

by Brunel University to any of its members. This is applicable to both students

and staff. Use of this site includes accessing, browsing, or registering to use

this website. If you do not accept the terms and conditions as stated by Brunel

University, you must not use this site.</p>

<p>Access to Brunel University terms, conditions and policies can be found at:

<a href="http://www.brunel.ac.uk/about/administration/policies-and-other-important-documents">http://www.brunel.ac.uk/about/administration/policies-and-other-important-documents</a></p>

<h2>ACCOUNTABILITY & LIABILITY</h2>
<p>UniBoard or Brunel University are not liable for any financial transactions

between buyers and suppliers; nor are they responsible for loss of property,

any offensive or abusive material, posted on the site. Any information posted

on the site remains the responsibility and liability of the registered user. Whilst

measures are in place to report, remove, ban or block such material, neither

UniBoard nor Brunel University are accountable for such omissions.</p>

<h2>SITE CHANGES</h2>
<p>The site may be updated at anytime, which may include changes to the design

and, or its content. Any material posted on this site may change, but will remain

the sole responsibility of the registered user. UniBoard or Brunel University

hold the right to remove any material that is deemed abusive or offensive. Any

material that is considered inappropriate must be reported immediately by

contacting <a href="mailto:enquiries@uni-board.co.uk">enquiries@uni-board.co.uk</a></p>

<h2>SITE ACCESS</h2>
<p>UniBoard is made available free of charge. All access is subject to individuals

registering using a valid Brunel University email address. Failure to comply

with Brunel University terms and conditions may result in your account being

suspended or blocked.

If you know of any persons accessing UniBoard through another medium

other than a valid Brunel University email, this must be reported to UniBoard

immediately by contacting <a href="mailto:enquiries@uni-board.co.uk">enquiries@uni-board.co.uk</a></p>

</div>

{% endblock %}

