{% extends "base.html" %}

{% block precontent %}
    <div style="width: 100%; margin: 0px; padding: 0px; margin-top: -15px">
        <div style="width: 50%; height: 390px; background: #6f79a7; color: #ffffff; margin:0px; padding:0px; float: left">
            <div style="padding: 50px">
                <h1 style="color: #ffffff; font-weight: normal; font-size: 300%; margin-bottom: 10px">Welcome to UniBoard</h1>

                <p style="color: #ffffff; font-size: 150%; margin-bottom: 40px">The online notice board</p>

                <p style="color: #ffffff; font-size: 150%; margin-bottom: 40px">You can search, buy and sell from within your university</p>

                <p>All you need to do is register and log in using your uni email address</p>
            </div>
        </div>
        <div style="width: 50%; margin:0px; padding:0px; float: left; height: 390px" id="front_page_image">
            <img src="/static/uniboard/img/front_page.jpg">
        </div>
    </div>

{% endblock %}

{% block content %}

<div class="containter span7" style="margin: 0px auto; float: none; padding-top: 20px;" >
    <div class="row-fluid" >
        <div class="slider">
        {% if length > 3 %}
            {% for i in range(0, length) %}
                <div>
                    <a href="{{url_for('advert.details', ad_id=ads[i].get('id'))}}">
                        <div style="max-height:200px; overflow-y: hidden; padding-bottom: 5px;">
                            <img src="{{ url_for('serve_user_uploads', image_name=ads[i].get('image_id')) }}" style="max-width: 200px; margin: auto; border: 1px solid; border-radius: 25px; border-color: black;">
                        </div>
                        <p style="text-align: left; padding-top: 5px; padding-left: 15px; color: black; font-size: 20px">{{ ads[i].get('title') }}</p>
                        <p style="text-align: left; padding-left: 15px; color: black; font-size: 20px">£{{ ads[i].get('price') }}</p>
                    </a>
                </div>
            {% endfor %}
        {% else %}
          <div><a href="{{url_for('account.login')}}"><img src="/static/uniboard/img/book_placeholder.png"></a></div>
          <div><a href="{{url_for('account.login')}}"><img src="/static/uniboard/img/book_placeholder.png"></a></div>
          <div><a href="{{url_for('account.login')}}"><img src="/static/uniboard/img/book_placeholder.png"></a></div>
          <div><a href="{{url_for('account.login')}}"><img src="/static/uniboard/img/book_placeholder.png"></a></div>
          <div><a href="{{url_for('account.login')}}"><img src="/static/uniboard/img/book_placeholder.png"></a></div>
          <div><a href="{{url_for('account.login')}}"><img src="/static/uniboard/img/book_placeholder.png"></a></div>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">
$(document).ready(function(){
	$('.slider').slick({
	  slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 5000
	});
});
</script>
{% endblock %}