{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<script type="text/javascript">
</script>

<h1>Create a new user account</h1>
<div class="hero-unit">
    <div class="row">
        <div class="span5">
            <form id="signupform" method="post" action="{{url_for('account.register')}}">
                {{ render_field(form.email) }}
                {{ render_field(form.name) }}
                {{ render_field(form.degree, class="input-large") }}
                {{ render_field(form.postcode) }}
                {{ render_field(form.phone) }}
                {{ render_field(form.graduation) }}
                <div class="actions">
                    <input id="signup" type="submit" value="Create User" class="btn btn-primary" />
                    {#<br /><br /><br /><br /><br /><br /><input id="m" type="text" name="m" />#}
                </div>
            </form>
        </div>
        <div class="span5">
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js_bottom %}
{{super()}}
<script type="text/javascript" src="/static/uniboard/js/register.js"></script>

{% endblock extra_js_bottom %}

